@import url("layout.css");
body {
	font-family: Arial, sans-serif;
	font-size: medium;
	color: black;
}
#container {
	width: 100%;
	height: 100%;
	background-color: green;
}
#masthead {
	width: 100%;
	overflow: auto;
	text-align: right;
	background-color: green;
}
#page_content {
	position: relative;
}
#sidebar {
	position: relative;
	float: left;
	width: 140px;
	background-color: darkgreen;
}
#content {
	margin-left: 140px;
	padding: 10px;
	background-color: green;
}
#footer {
	clear: both;
	width: 99%;
	overflow: hidden;
	padding-top: 1%;
	padding-right: 0;
	padding-bottom: 1%;
	padding-left: 1%;
	background-color: green;
}
#masthead img {
	float: left;
}
#masthead p {
	font-size: small;
	margin: 0;
	margin-right: 1%;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Arial Black;
}
/* Styles for Navigation */
#sidebar ul {
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
#sidebar li {
	display: block;
	border: 1px solid #cb8;
}
#sidebar a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding: 5%;
	display: block;
	border-bottom: 1px solid #f5f5f5;
}
#sidebar a:hover {
	font-weight: bold;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #f5f5f5;
	background-color: green;
}
/* Styles for Footer */
#footer p {
	font-size: x-small;
}
#footer a {
	color: black;
	text-decoration: underline;
}
#footer a:hover {
	color: black;
	text-decoration: none;
}
a {
	color: black;
	text-decoration: underline;
}
a:hover {
	color: black;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}